<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Login | Secret Library</title>
        <style>
            .success { color: green;}
            .error { color: red;}
        </style>
    </head>
    <body>
        {% include 'header.html' %}
        <div class="page-body">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value="">
                <br>
                <label for="password">Password: </label>
                <input id="password" type="password" name="password" value="">
                <input type="submit" value="OK">
            </form>
            {% for message in messages %}
                <p class="{{ message.tags }}">
                    {{ message }}
                </p>
            {% endfor %}
        </div>
    </body>
</html>